#parent {
    width: 300px;
    height: 300px;
    position: relative;
}

#shield {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 0 0 70% 70%;
    display: inline-block;
    padding-top: 20px;
    z-index: 0;
}

#shield:before, #shield:after {
    position: absolute;
    margin-top: 50%;
    content:"";
    left: 50%;
    top: 0;
    width: 50%;
    height: 53%;
    background: white;
    border-radius: 70% 70% 0 0;
    -webkit-transform: rotate(-61.5deg);
    -moz-transform: rotate(-61.5deg);
    -ms-transform: rotate(-61.5deg);
    -o-transform: rotate(-61.5deg);
    transform: rotate(-61.5deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    z-index: 0;
}

#shield:after {
    background-color: white;
    left: 0;
    -webkit-transform: rotate(61.5deg);
    -moz-transform: rotate(61.5deg);
    -ms-transform: rotate(61.5deg);
    -o-transform: rotate(61.5deg);
    transform: rotate(61.5deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
    z-index: 0;
}

/* #shield {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 120px;
    height: 110px;
    border: 2px solid;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    margin-top: -12px
}
#shield::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 80%;
    width: 160px;
    height: 100px;
    border-radius: 2px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    left: 0px;
    top: 100px
} */